<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MCP Web :: Entellect Challenge Tron AI{% if title %} :: {{ title }}{% endif %}</title>
    <link href="{{ STATIC_URL }}styles/mcp.css" rel="stylesheet" type="text/css" media="screen">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="content" class="content-wrap">
    {% block content %}
    {% endblock %}
    </div>

    {% block extra_content %}
    {% endblock %}

    <div id="footer">
    {% block footer %}
    <div id="footnote">
      Created by <a href="http://people.cs.uct.ac.za/~ksmith/">Keegan
      Carruthers-Smith</a> 2012
      <a href="https://bitbucket.org/keegan_csmith/mcp-web">[SRC]</a>
    </div>
    <a href="https://github.com/keegancsmith/MCP-web/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    {% endblock %}
    </div>
  </body>
</html>
