{% extends "mcpweb/base.html" %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/mcp.js"></script>
{% endblock %}

{% block content %}
<div id="game">
  <canvas id="canvas" width="500" height="600" tabindex="0">Your browser
    does not support canvas. Upgrade to a
    <a href="http://www.mozilla.com/en-US/firefox/new/">modern</a>
    <a href="http://www.google.com/chrome/">browser</a>.
  </canvas>
</div>
<div id="info">
  <ul>
    {% if player1_url %}<li>Player 1 {{ player1_url }}</li>{% endif %}
    {% if player2_url %}<li>Player 2 {{ player2_url }}</li>{% endif %}
  </ul>
</div>
<script type="text/javascript">
  init({
      game: "{% url tron-game-api game.id 'public' %}"
  });
</script>
{% endblock %}
