{% extends "mcpweb/base.html" %}

{% block content %}
<div id="game">
  <canvas id="canvas" width="500" height="575" tabindex="0">Your browser
    does not support canvas. Upgrade to a
    <a href="http://www.mozilla.com/en-US/firefox/new/">modern</a>
    <a href="http://www.google.com/chrome/">browser</a>.
  </canvas>
</div>

<div id="info" class="row">
<div class="span12">
  <h3>Replay</h3>
  <div class="row">
    <div class="span1">
      <a class="btn" href="javascript:tron_history.animate_history();">Replay</a>
    </div>
    <div id="replay-progress" class="span4 progress progress-striped">
      <div class="bar" style="width: 0%;"></div>
    </div>
  </div>
</div>
{% if player1_url or player2_url %}
<div class="span6">
  <h3>Game URLs</h3>
  <dl class="dl-horizontal">
    {% if player1_url %}<dt>Player 1</dt><dd>{{ player1_url }}</dd>{% endif %}
    {% if player2_url %}<dt>Player 2</dt><dd>{{ player2_url }}</dd>{% endif %}
  </dl>
</div>
<div class="alert alert-info span5">
  <button class="close" data-dismiss="alert">×</button>
  <h4 class="alert-heading">How To Use</h4>
  Install <a href="http://pypi.python.org/pypi/MCP">MCP</a> then run
  <span class="label label-info">mcp remote {% firstof player1_url player2_url %}</span>
  in the top level directory of your bot. Or specify the command to run your
  bot with the <span class="label label-info">--command</span> flag.
</div>
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/mcp.js"></script>
<script type="text/javascript">
  init({
  game: "{% url tron-game-api game.id 'public' %}",
  history: "{% url tron-game-history-api game.id %}"
  });
</script>
{% endblock %}
