{% extends "mcpweb/base.html" %}
{% load humanize %}
{% block content %}
<div id="introduction">
  <p class="lead">This website
    allows <a href="http://challenge.entelect.co.za/Home/Rules">Entellect
    Challenge</a> bots to compete against each other
    using <a href="http://pypi.python.org/pypi/MCP">MCP</a>.</p>
  <p>This website is unofficial...</p>
</div>
<div class="row">
{% if request.user.is_anonymous %}
  {% load crispy_forms_tags %}
<div id="login_form" class="span6"><h2>Login</h2>
  {% crispy login_form login_form.helper %}
</div>
<div id="signup_form" class="span6"><h2>Signup</h2>
  {% crispy signup_form signup_form.helper %}
</div>
</div>
{% else %}

<p>Hi <strong>{{ user.username }}</strong>! You are currently playing in
<span class="badge">{{ active.count }}</span> game{{ active.count|pluralize }}.
You have finished <span class="badge">{{ finished.count }}</span>
game{{ finished.count|pluralize }}.</p>

<h2>Active Games</h2>
<ul>
  {% for game in active %}
  <li><a href="{{ game.get_absolute_url }}">Game {{ game.pk }}</a> against
    <strong>{% if game.player1 == request.user %}{{ game.player2.username }}{% else %}{{ game.player1.username }}{% endif %}</strong>
    last played {{ game.last_played|naturaltime }}</li>
  {% endfor %}
</ul>

<h2>Finished Games</h2>
<ul>
{% for game in finished %}
  <li><strong>{% if game.winner == tie %}Tied{% else %}{% for user in game.winners %}{% if user == request.user %}Won{% else %}Lost{% endif %}{% endfor %}{% endif %}</strong>
    <a href="{{ game.get_absolute_url }}">Game {{ game.pk }}</a> against
    <strong>{% if game.player1 == request.user %}{{ game.player2.username }}{% else %}{{ game.player1.username }}{% endif %}</strong>
    finished {{ game.last_played|naturaltime }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
