{% extends "mcpweb/base.html" %}
{% block content %}
<!DOCTYPE html>
<div id="introduction">
  <p>This website
    allows <a href="http://challenge.entelect.co.za/Home/Rules">Entellect
    Challenge</a> bots to compete against each other
    using <a href="http://pypi.python.org/pypi/MCP">MCP</a>.</p>
  <p>This website is unofficial...</p>
</div>
{% if request.user.is_anonymous %}
  {% load crispy_forms_tags %}
<div id="login_form"><h2>Login</h2>
  {% crispy login_form login_form.helper %}
</div>
<div id="signup_form"><h2>Signup</h2>
  {% crispy signup_form signup_form.helper %}
</div>
{% else %}
<h3>Hi {{ user.username }}, you are currently playing in {{ active.count }}
games. You have finished {{ finished.count }} games.</h3>
<h2>Active Games</h2>
<ul>
  {% for game in active %}
  <li><a href="{{ game.get_absolute_url }}">{{ game }}</a></li>
  {% endfor %}
</ul>

<h2>Finished Games</h2>
<ul>
{% for game in finished %}
  <li><a href="{{ game.get_absolute_url }}">{{ game }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
